/* Variables */

$font-header: 'Montserrat', sans-serif;
$font-text: 'Noto Serif', serif;
$font-small: 'Roboto Slab', serif;

$color-main: #fed136;
$color-header: #222222;
$color-text: #777777;

$transition: all 1s;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: $color-text;
  font-family: $font-text;
  text-align: center;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}

/* Splash */

.splash {
  position: relative;
  background: #000;
  height: 100vh;
}

.splash::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background-image: url('/images/bg-image.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.splash-inner {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 2;
}

.page-welcome-small {
  font-size: 40px;
  color: #fff;
  font-style: italic;
  font-weight: 200;
  margin: 25px 0;
  padding: 0;
}

.page-welcome {
  font-size: 75px;
  font-family: $font-header;
  color: #fff;
  margin: 25px 0;
  padding: 0;
}

.btn {
  height: 68px;
  color: #fff;
  background-color: $color-main;
  font-size: 18px;
  font-family: $font-header;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 0 50px;
  cursor: pointer;
  margin: 25px 0 0 0;

  &:hover {
    background-color: inherit;
    border: 2px solid $color-main;
  }
}

.section-title {
  font-size: 40px;
  color: $color-header;
  font-family: $font-header;
  margin: 5px 0;
}

.section-subtitle {
  font-size: 16px;
  font-weight: 200;
}

/* Navigation */

.splash .row {
  position: absolute;
  z-index: 2;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  left: 50%;
  transform: translate(-50%);

  .col-md-10 {
    text-align: right;
  }
}

.navigation {
  font-family: $font-header;
  font-weight: 600;

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 12px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: $color-main;
    }
  }
}

/* Service */

.icon-wrapper {
  border: 3px solid $color-main;
  border-radius: 50%;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.col-md-4 {
  padding-left: 18px;
  padding-right: 18px;
}

.row {
  margin-top: 50px;
}

.service-name {
  font-size: 18px;
  font-family: $font-header;
  color: #000;
}

.service-description {
  font-size: 14px;
  font-family: $font-small;
}

/* Portfolio */

.portfolio {
  background: #f7f7f7;
}

.card-description {
  padding: 28px 0;
}

.card {
  background: #fff;

  img {
    width: 100%;
  }

  p {
    font-style: italic;
    font-size: 14px;
    margin: 0;
  }

  h4 {
    margin: 0;
  }
}

/* Footer */

.footer-text {
  font-size: 14px;
  font-family: $font-header;
  color: $color-header;
  text-align: left;
}

footer .row {
  margin: 40px 0;
  align-items: baseline;
}

footer ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    font-size: 0;
    margin: 0 5px;

    i {
      font-size: 22px;
      color: #ffffff;
      background: $color-header;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      padding: 9px;

      &:hover {
        background: $color-main;
      }
    }
  }
}

/* Media */

@media (max-width: 767px) {

  footer {
    margin: 0;
  }

  .copyright {
    order: 2;

    .footer-text {
    text-align: center;
    }
  }

  .social {
    order: 1;
  }

section {
  padding: 60px 0;
}

.card {
  margin-bottom: 34px;
}

.portfolio .row {
  margin: 0;
}

.section-subtitle {
  margin-bottom: 64px;
}

.service .col-md-4 {
    margin-bottom: 32px;
}

.page-welcome {
  font-size: 34px;
}

.page-welcome-small {
  font-size: 28px;
}

.btn {
  font-size: 14px;
  padding: 10px 24px;
  height: auto;
}
}
