/* Variables */

$font-header: 'Montserrat', sans-serif;
$font-text: 'Noto Serif', serif;
$font-small: 'Roboto Slab', serif;

$color-main: #fed136;
$color-header: #222222;
$color-text: #777777;

$transition: all 1s;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
 }

 body {
     margin: 0;
     font-size: 16px;
     line-height: 1.7;
     color: $color-text;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

section {
    padding: 120px 0;
}

/* Splash */

.wrapper {
  background-image: url('/images/bg-image.png');
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Navigation */

.logo {
  position: absolute;
  left: 20px;
  padding: 50px 0;
}

.navigation {
  padding: 50px 0;
  font-family: $font-header;
  font-weight: 600;
  position: absolute;
  right: 20px;

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 40px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: $color-main;
    }
  }
}
