/* Variables */

$font-header: 'Montserrat', sans-serif;
$font-text: 'Noto Serif', serif;
$font-small: 'Roboto Slab', serif;

$color-main: #fed136;
$color-header: #222222;
$color-text: #777777;

$transition: all 1s;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
 }

 body {
     margin: 0;
     font-size: 14px;
     line-height: 1.7;
     color: $color-text;
}

.container {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding: 120px 0;
}
